@using music4you.Data
@using music4you.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model AlbumCreateViewModel

@if (TempData["Error"] != null)
{
    <div class="mx-auto max-w-lg space-y-4 rounded-xl bg-red-200 p-3">
        <span class="text-red-800"><b>Błąd!</b> - @TempData["Error"] </span>
    </div>
}

<form method="post" asp-action="Create" class="mx-auto max-w-lg space-y-4 rounded p-6">
    <h3 class="left-2 text-3xl font-semibold text-gray-700">Dodaj nowy album</h3>
    <div class="mt-3">
        <label asp-for="Name" class="block text-sm font-medium text-gray-700">Nazwa albumu</label>
        <input asp-for="Name" class="mt-1 block w-full rounded border-gray-300 p-1 text-gray-900 shadow-sm focus:border-blue-500 focus:ring-blue-500" />
        <span asp-validation-for="Name" class="text-sm text-red-600"></span>
    </div>

    <!-- Author -->
    <div>
        <label asp-for="Author" class="block text-sm font-medium text-gray-700">Autor</label>
        <input asp-for="Author" class="mt-1 block w-full rounded border-gray-300 p-1 text-gray-900 shadow-sm focus:border-blue-500 focus:ring-blue-500" />
        <span asp-validation-for="Author" class="text-sm text-red-600"></span>
    </div>

    <!-- Genre -->
    <div class="w-full sm:w-1/3">
        <label asp-for="Genre" class="block text-sm font-medium text-gray-700">Gatunek</label>
        <select asp-for="Genre" asp-items="@Html.GetEnumSelectList<Genre>()" class="mt-1 block w-full rounded border-gray-300 p-1 shadow-sm focus:border-blue-500 focus:ring-blue-500 text-gray-900">
        </select>
    </div>

    <!-- Year -->
    <div class="w-full sm:w-1/3">
        <label asp-for="Year" class="block text-sm font-medium text-gray-700">Rok wydania</label>
        <input asp-for="Year" class="mt-1 block w-full rounded border-gray-300 p-1 text-gray-900 shadow-sm focus:border-blue-500 focus:ring-blue-500" />
        <span asp-validation-for="Year" class="text-sm text-red-600"></span>
    </div>

    <!-- Image URL -->
    <div>
        <label asp-for="ImageUrl" class="block text-sm font-medium text-gray-700">URL obrazka</label>
        <input asp-for="ImageUrl" class="mt-1 block w-full rounded border-gray-300 p-1 text-gray-900 shadow-sm focus:border-blue-500 focus:ring-blue-500" />
        <span asp-validation-for="ImageUrl" class="text-sm text-red-600"></span>
    </div>

    <!-- Submit Button -->
    <div class="pt-8 text-center">
        <input type="submit" value="Dodaj album" class="rounded bg-blue-600 px-6 py-2 text-sm font-medium text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2" />
    </div>
</form>
