@using music4you.ViewModels
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Album>
<section class="py-5 text-center container">
    <div class="row">
        <div class="col-lg-6 col-md-3 mx-auto">
            <h1 class="fw-light">Przeglądaj z gamy naszych albumów</h1>
            <p class="lead text-body-secondary">Lorem ipsum</p>

            @if (User.Identity.IsAuthenticated)
            {
                <p>
                    <a asp-controller="Album" asp-action="Create" style="font-size: 20px;">
                        Jeśli nie ma albumu który cię interesuje, dodaj nowy album
                    </a>
                </p>
            }

        </div>
    </div>
</section>

<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @foreach (Album album in Model)
            {
                string url;
                try
                {
                    url = album.ImageUrl;
                }
                catch (Exception ex)
                {
                    url = "https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png";
                }
                <div class="col">
                    <div class="card shadow-sm" style="border-radius: 4px 20px 20px 20px;">
                        <img src=@url alt="Obraz przedstawiający @album.Name" width=100% height=100% style="border-radius: 4px 20px 4px 4px" />
                        <div class="card-body">
                            <p class="card-text">@album.Author - @album.Name</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="button" asp-controller="Album" asp-action="Details" asp-route-id=@album.Id class="btn btn-sm btn-outline-secondary">Szczegóły</a>
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                    {
                                        <a type="button" asp-controller="Album" asp-action="Edit" asp-route-id=@album.Id class="btn btn-sm btn-outline-secondary">Edytuj</a>
                                    }
                                </div>
                                <p class="text-body-secondary" style="font-size: 20px">@album.Year</p>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>