@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Kurza twarz! - 403</h1>
<h3>Nie masz uprawnień do wyświetlenia zasobu</h3>
