<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - music4you</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/music4you.styles.css" asp-append-version="true" />
</head>
<body class="bg-gray-200">
    <header>
        <nav class="border-gray-200 bg-gray-200">
            <div class="mx-auto mb-3 flex max-w-screen-xl flex-wrap items-center justify-between px-4 py-2 md:py-1">
                <a asp-controller="Album" asp-action="Index" class="flex items-center space-x-3 self-center rounded-full bg-gray-100 px-3 py-2 font-mono text-lg text-blue-700 hover:text-blue-950 hover:bg-gray-400">
                    music4you
                </a>
                <button data-collapse-toggle="navbar-multi-level" type="button" class="inline-flex h-10 w-10 items-center justify-center rounded-lg p-2 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 md:hidden" aria-controls="navbar-multi-level" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <svg class="h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15" />
                    </svg>
                </button>
                <div class="hidden w-full md:block md:w-auto" id="navbar-multi-level">
                    <ul class="flex flex-col rounded-lg p-4 font-medium md:mt-0 md:flex-row md:space-x-8 md:border-0 md:p-0">
                        <li>
                            <a asp-controller="Album" asp-action="Index" class="block rounded px-3 py-1 text-gray-900 hover:bg-gray-100 md:p-0 md:hover:bg-transparent md:hover:text-blue-700"><i class="bi bi-disc-fill"></i> Albumy</a>
                        </li>
                        <li>
                            <a asp-controller="Album" asp-action="Create" class="block rounded px-3 py-1 text-gray-900 hover:bg-gray-100 md:p-0 md:hover:bg-transparent md:hover:text-blue-700"><i class="bi bi-plus-lg"></i> Dodaj album</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="relative">
                                <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex w-full items-center justify-between px-3 py-1 text-gray-900 hover:bg-gray-100 md:p-0 md:w-auto md:hover:bg-transparent md:hover:text-blue-700">
                                    <i class="bi bi-person-fill pr-1"></i> @User.Identity.Name <i class="bi bi-chevron-down pl-1"></i>
                                </button>
                                <!-- Dropdown menu -->
                                <div id="dropdownNavbar" class="z-10 absolute hidden w-44 divide-y divide-gray-100 rounded-lg bg-white font-normal shadow">
                                    <ul class="py-2 text-sm font-medium text-gray-700" aria-labelledby="dropdownLargeButton">
                                        <li>
                                            <a asp-controller="Account" asp-action="Details" class="block px-4 py-1 hover:bg-gray-100"><i class="bi bi-person-fill text-secondary"></i> Profil</a>
                                        </li>
                                        <li>
                                            <a asp-controller="Account" asp-action="Register" class="block px-4 py-1 hover:bg-gray-100"><i class="bi bi-person-plus-fill text-secondary"></i> Utwórz konto</a>
                                        </li>
                                    </ul>
                                    <div class="py-1">
                                        <a asp-controller="Account" asp-action="Logout" class="block px-4 py-1 text-sm text-red-700 hover:bg-gray-100 hover:text-red-900"><i class="bi bi-power text-secondary"></i> Wyloguj się</a>
                                    </div>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="relative">
                                <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex w-full items-center px-3 py-1 text-gray-900 hover:bg-gray-100 md:p-0 md:w-auto md:hover:bg-transparent md:hover:text-blue-700">
                                    <i class="bi bi-person-fill pr-1"></i> Konto <i class="bi bi-chevron-down pl-1"></i>
                                </button>
                                <!-- Dropdown menu -->
                                <div id="dropdownNavbar" class="z-10 absolute hidden w-44 divide-y divide-gray-100 rounded-lg bg-white font-normal shadow">
                                    <ul class="py-2 text-sm text-gray-700" aria-labelledby="dropdownLargeButton">
                                        <li>
                                            <a asp-controller="Account" asp-action="Login" class="block px-4 py-2 hover:bg-gray-100"><i class="bi bi-box-arrow-in-right"></i> Zaloguj się</a>
                                        </li>
                                    </ul>
                                    <div class="py-1">
                                        <a asp-controller="Account" asp-action="Register" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"><i class="bi bi-person-plus-fill text-secondary"></i> Utwórz konto</a>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>



    </header>
    <div class="container rounded-xl bg-gray-100 p-4">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - music4you - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const toggleButton = document.querySelector('[data-collapse-toggle="navbar-multi-level"]');
            const menu = document.getElementById("navbar-multi-level");

            toggleButton.addEventListener("click", function () {
                menu.classList.toggle("hidden");
            });

            const toggleUserButton = document.getElementById("dropdownNavbarLink");
            const userMenu = document.getElementById("dropdownNavbar");

            toggleUserButton.addEventListener("click", function () {
                userMenu.classList.toggle("hidden");
            });
        });
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
