@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-4xl font-semibold">Polityka prywatności</h1>

<p class="py-4">Strona została przygotowana w celu naukowym, a materiały na niej zamieszczone służą jedynie wiarygodnemu odwzorowaniu strony rzeczywistej</p>
